{
    "env": {
        "es6": true,
        "node": true
    },
    
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module"
    },

    "globals": {
        "__baseDir": false,
        "logger" : false,
        "localeManager": false
    },

    "ignore": [
        "*.min.js"
    ],

    "rules": {
        "no-console": 0,
        "global-require":"off",
        "no-undef" :"off",
        
        "quotes": [
            "warn",
            "single",
			{"avoidEscape": true, "allowTemplateLiterals": true}
        ],

		"semi": [
		    "warn",
			"always"
		],

		"indent": [
		    "error",
			4
		]
    }
}