# Logs
logs
*.log
npm-debug.log*

# NPM Stuff
node_modules
.npm
package-lock.json

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Eclipse WS file
.settings
.project
data.json 

# Visual Studio Files
obj
bin

# Bot files  
config.json
src/data
.idea/workspace.xml
lines.txt
cache/

#Redis dunps
dump .rdb
