{
	"token": "", 
	"prefix": "?",
	"osuApiKey": "get one at osu.ppy.sh",
	"useEmail": false,
	"email": "email",
	"password": "password",
	"botName": "default-name",
	"botDesc": "default-description",
	"ownerID": "",
	"log": false,
	"logchannel": ""
}