{
  "token": "",
  "debug": true,
  "promiseWarnings": false,
  "ibKey": "",
  "mainPrefix": "?",
  "osuApiKey": "",
  "sauceKey" : "",
  "gameName" : "",
  "gameURL" :"",
  "ownerID": "",
  "maxShards": 1,
  "ytSearchKey": "",
  "twitchKey": "",
  "nasaKey": "",
  "rethinkOptions": {},
  "discordBotsPWKey": "",
  "discordBotsOrgKey": ""
}
